extends layout

block content
  h1 #{title}
  ul
    each article, i in articles
      li= article.content
        a(href=`/articles/add?id=${article.id}`)
          button.btn.btn-primary(type='button') 编辑
        a(href=`/articles/add?id=${article.id}`)
          button.btn.btn-danger(type='button') 删除
  a(href='/articles/add')
    button.btn.btn-primary(type='button') 添加