<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <style type="text/css">
      body {padding: 50px;font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;}
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
      <ul>
        <% for(var i=0; i< articles.length; i++) {%>
          <li><%= articles[i].title %><button type="button" class="btn btn-primary">编辑</button></li>
        <% } %>
      </ul>
      <button type="button" class="btn btn-primary">添加</button>
      <div>
        <form action='/signup' method="post">
          <div>
            <label>用户名</label>
            <input placeholder="用户名" type="text" name="name">
          </div>
          <div>
            <label>密码</label>
            <input placeholder="密码" type="password" name="password">
          </div>
          <div>
            <label>重复密码</label>
            <input placeholder="重复密码" type="password" name="repassword">
          </div>
          <div>
            <label>性别</label>
            <select class="ui compact selection dropdown" name="gender">
              <option value="m">男</option>
              <option value="f">女</option>
              <option value="x">保密</option>
            </select>
          </div>
          <div>
            <label>头像</label>
            <input type="file" name="avatar">
          </div>
          <div>
            <label>个人简介</label>
            <textarea name="bio" rows="5"></textarea>
          </div>
          <input type="submit" class="ui button fluid" value="注册">
        </form>
      </div>
  </body>
</html>
<script src='/bower_components/jquery/dist/jquery.js'></script>
<script src='/bower_components/bootstrap/dist/js/bootstrap.js'></script>